<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" cacheDirectory="var/cache/phpunit" colors="true">
    <php>
        <env name="APP_ENV" value="test" force="true"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/Postgres</exclude>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Postgres">
            <directory>tests/Integration/Postgres</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true" disableCodeCoverageIgnore="true"/>
</phpunit>
